<web-app xmlns="http://java.sun.com/xml/ns/j2ee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd"
         version="2.4">

    <servlet>
        <servlet-name>homeServlet</servlet-name>
        <servlet-class>clientSide.servlets.HomeServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>homeServlet</servlet-name>
        <url-pattern>/home</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>loginServlet</servlet-name>
        <servlet-class>clientSide.servlets.LoginServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>loginServlet</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>signUpServlet</servlet-name>
        <servlet-class>clientSide.servlets.SignUpServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>signUpServlet</servlet-name>
        <url-pattern>/signup</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>guestServlet</servlet-name>
        <servlet-class>clientSide.servlets.GuestServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>guestServlet</servlet-name>
        <url-pattern>/guest</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>passServlet</servlet-name>
        <servlet-class>clientSide.servlets.GuestServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>passServlet</servlet-name>
        <url-pattern>/pass</url-pattern>
    </servlet-mapping>

</web-app>