<hibernate-configuration>
    <session-factory>

        <property name="connection.url">jdbc:mysql://localhost:8889/job</property>
        <property name ="connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="connection.username">Tigran</property>
        <property name="connection.password">tigran94</property>

        <property name = "dialect">org.hibernate.dialect.MySQL57Dialect</property>

        <property name="hbm2ddl.auto">update</property>

        <property name="show_sql">true</property>

        <mapping class="clientSide.Users"/>

    </session-factory>
</hibernate-configuration>
