<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/css/style.css}"/>
    <link rel="stylesheet" th:href="@{/css/style.css}"/>
</head>
<body>
<div class="header">
    <div>
        <a class="header_buttons" href="/profile">Back</a>
        <a class="header_buttons" href="/">Home</a>
    </div>
</div>
<div></div>
<div class="main_addPost">
    <form action="/addPost" method="post">
        <div class="tablerow_addPost">
            <div class="left_addPost">
                <label for="title">Title: </label>
            </div>
            <div class="right">
                <input class="input_addPost" id="title" type="text" name="title" placeholder="Title"  th:required="required"/>
            </div>
        </div>
        <div class="tablerow_addPost">
            <div class="left_addPost">
                <label for="textarea">Description: </label>
            </div>
            <div class="right">
                <textarea class="input_addPost" id="textarea" name="description" cols="40" rows="4" placeholder="Description"  th:required="required"></textarea>
            </div>
        </div>
        <div class="tablerow_addPost">
            <div class="left_addPost">
                <label for="select">Type: </label>
            </div>
            <div class="right">
                <select class="input_addPost" id="select" name="type">
                    <option value="" th:disabled="disabled" th:selected="selected">Select your option</option>
                    <option value="IT">IT</option>
                    <option value="Marketing">Marketing</option>
                </select>
            </div>
        </div>
        <div class="tablerow_addPost">
            <div class="left_addPost">
                <label for="salary">Salary: </label>
            </div>
            <div class="right">
                <input class="input_addPost" id="salary" type="text" name="salary" placeholder="Salary"  th:required="required"/>
            </div>
        </div>
        <div class="tablerow_addPost">
            <div class="left_addPost">
                <label for="time">Work Time: </label>
            </div>
            <div class="right">
                <select id="time" name="workTime" class="input_addPost">
                    <option value="" th:disabled="disabled" th:selected="selected">Select your option</option>
                    <option value="Half Time">Half Time</option>
                    <option value="Full Time">Full Time</option>
                    <option value="Remote">Remote</option>
                </select>
            </div>
        </div>
        <div class="tablerow_addPost">
            <div class="left_addPost">
                <label for="currentDate">Date: </label>
            </div>
            <div class="right">
                <input class="input_addPost" type="date" name="endDate" id="currentDate"  th:required="required" min=""/>
            </div>
        </div>
        <div class="tablerow_addPost">
            <div class="left_addPost">
                <input type="submit" value="Submit" id="subm"/>
            </div>
        </div>
        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>

    </form>
</div>
</body>
<script type="text/javascript" th:src="@{/js/todaysDate.js}"/>
</html>
