<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Title</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
</head>
<body>
<div class="header">
    <div>
        <span>Welcome To Job.am </span>
        <span th:text="${parameter}"/>
        <a class="header_buttons" href="/profile" th:if="${profileButton==null}" >My Profile</a>
        <a class="header_buttons" href="/settings" th:if="${settingsButton==null}" >Settings</a>

        <div id="imgdiv">
            <!-- <img src="<spring:url value='${imageSource}'/>" id="profileImage"> -->
        </div>
    </div>
    <div th:if="${userActive==null}">
        <a class="header_buttons" href="/login">Login</a>
        <a class="header_buttons" href="/signup">Sign UP</a>
        <!-- <a class="header_buttons" href="/" ${hiddenBack}>Back</a> -->
    </div>
</div>
<div class="main_home">
    <div class="titles">
        <form id="form" action="/" method="post">
            <div class="formdiv">
                <div class="labels">
                    <label for="typename">Type: </label>
                </div>
                <div class="vals">
                    <select name="type" id="typename">
                        <option></option>
                        <option value="IT">IT</option>
                        <option value="Marketing">Marketing</option>
                    </select>
                </div>
            </div>
            <div class="formdiv">
                <div class="labels">
                    <label for="salarytype">Salary: </label>
                </div>
                <div class="vals">
                    <input id="salarytype" type="number" name="salary"/>
                </div>
            </div>
            <div class="formdiv">
                <div class="labels">
                    <label for="worktime">Work Time: </label>
                </div>
                <div class="vals">
                    <select id="worktime" name="workTime">
                        <option></option>
                        <option value="Half Time">Half Time</option>
                        <option value="Full Time">Full Time</option>
                        <option value="Remote">Remote</option>
                    </select>
                </div>
            </div>
            <div class="formdiv">
                <input id="filter" type="submit" th:value="Filter"/>
            </div>
            <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
        </form>
        <div class="mrg">
            <ul id="list">
                <th:block th:each="jobTitle : ${jobTitles}">
                    <form action="/apply" method="post">
                        <li>
                            <div class="derow">
                                <div class="deleft">
                                    <input type="hidden" name="jobId" th:value="${jobTitle.id}"/>
                                    <div th:if="${userActive!=null}">
                                        <input type="image" th:src="@{/images/image.png}" th:if="${settingsButton==null}"/>
                                    </div>
                                </div>
                                <div class="deright">
                                    <a th:href="${jobTitle.id}" th:text="${jobTitle.title}"/>
                                </div>
                            </div>
                        </li>
                        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
                    </form>
                </th:block>
            </ul>
        </div>
    </div>
    <div class="content" th:if="${contentView}">
        <div class="tablerow">
            <div class="left">
                <p>Title: </p>
            </div>
            <div class="right">
                <p th:text="${post.title}"></p>
            </div>
        </div>
        <div class="tablerow">
            <div class="left">
                <p>Description: </p>
            </div>
            <div class="right">
                <p th:text="${post.description}"></p>
            </div>
        </div>
        <div class="tablerow">
            <div class="left">
                <p>Type: </p>
            </div>
            <div class="right">
                <p th:text="${post.type}"></p>
            </div>
        </div>
        <div class="tablerow">
            <div class="left">
                <p>Salary: </p>
            </div>
            <div class="right">
                <p th:text="${post.salary}"></p>
            </div>
        </div>
        <div class="tablerow">
            <div class="left">
                <p>Work Time: </p>
            </div>
            <div class="right">
                <p th:text="${post.workTime}"></p>
            </div>
        </div>
        <div class="tablerow">
            <div class="left">
                <p>Email: </p>
            </div>
            <div class="right">
                <p th:text="${post.email}"></p>
            </div>
        </div>
        <div class="tablerow">
            <div class="left" >
                <p>Company: </p>
            </div>
            <div class="right">
                <p th:text="${post.company}"></p>
            </div>
        </div>
        <div class="tablerow">
            <div class="left" >
                <p>Expiration Date: </p>
            </div>
            <div class="right">
                <p th:text="${post.expirationDate}"></p>
            </div>
        </div>
        <div class="tablerow">
            <div class="left" >
                <p>Post Date: </p>
            </div>
            <div class="right">
                <p th:text="${post.postDate}"></p>
            </div>
        </div>
    </div>
</div>
</body>
</html>